
  body{
    background-image: linear-gradient(to bottom right, yellow, rgb(126, 6, 6));
  }
  #jumbo{
    background-image: linear-gradient(to bottom right, rgb(126, 6, 6), yellow);
  }
  .btn{
    background-image: linear-gradient(to bottom right, rgb(126, 6, 6), yellow);

  }
  #makeBig{
    font-weight: bold;
    font-style: italic;
  }
  .green{
    color: darkred;
    align-content: center;
  }
  #washington{
    align: middle;
    width:30px;
    height:24px;
  }