
  body{
    background-image: linear-gradient(to bottom right, yellow, rgb(126, 6, 6));
  }
  #jumbo{
    background-image: linear-gradient(to bottom right, rgb(126, 6, 6), yellow);
  }
  .btn{
    background-image: linear-gradient(to bottom right, rgb(126, 6, 6), yellow);

  }